.dropdown-menu{
    background-color: #212529;
}
.dropdown-item{
    color:#ffffff;
}
.dropdown-menu{
    padding-right: 0px;
}
.active{
    color: rgb(255, 255, 255);
}
.btn-secondary{
    background-color: #00000000;
    border-color: #00000000;
}
.btn-primary{
    height: 300px;
    width: 300px;
    margin-bottom: 80px;
    margin-right: -5px;
}
#simple-modal .modal-dialog {
    max-width: 800px;
    margin: 30px auto;
  }
  
  #simple-modal .modal-body {
    position: relative;
    padding: 0px;
    min-height: 400px;
    background: #ccc;
  }
  
  #simple-modal .btn-close {
    position: absolute;
    right: -60px;
    top: -24px;
    font-size: 1rem;
    font-weight: normal;
    opacity: 1;
  }
  
  #image {
    width: 100%;
  }