.dropdown-menu{
    background-color: #212529;
}
.dropdown-item{
    color:#ffffff;
}
.dropdown-menu{
    padding-right: 0px;
}
.active{
    color: rgb(255, 255, 255);
}
.btn-secondary{
    background-color: #00000000;
    border-color: #00000000;
}
.img-thumbnail{
    height: 200px;
    width: 200px;
    margin-bottom: 80px;
    margin-right: 5px;
}
.h1, .h3{
    margin-top: 10px;
  color: #ffffff;
}
.h3{
    width: 99%;
    margin: 10px;
    margin-right: 20px;
}